<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{{ '/preview/assets/css/style.css' | relative_url }}">
  <title>{{ page.title }}</title>
</head>
<body>
  {% include preview-header.html %}
  <main>
    {{ content }}
  </main>
  {% include preview-footer.html %}
  <script src="{{ '/preview/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
